.ui.secondary.pointing.menu {
    border: none;
    margin-left: 5%;
    margin-right: 5%;
}

.name {
    text-align: center;
    font-size: 90px;
    margin-top: 10%!important;
    margin-bottom: 3%;
    font-family: 'Architects Daughter', cursive;
}

.images iframe {
    width: 1440px;
    height: 700px;
}

.images {
    position: absolute;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.202);
    -webkit-transform-origin: 0 0;
}

.card {
    width: calc(1440px * 0.25);
    height: calc(900px * 0.25);
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
    bottom: 30px;
    position: absolute;
}

p {
    margin: 0 20%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.ui.secondary.pointing.menu.filter{
    justify-content: center;
    margin-bottom: 10%;
}

.aboutBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name.about {
    margin-top: 6%!important;
}

.imgBox {
    display: flex;
    justify-content: center;
    background-color: #E2E2E2;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 5%;
}

img {
    width: 450px;
}

.contactBox {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    width: 30%;
}

h3 {
    text-decoration: underline;
}

  /* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .name {
        font-size: 40px!important;
    }
    .ui.menu {
        font-size: 10px;
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .name {
        font-size: 40px!important;
    }
    .ui.menu {
        font-size: 10px;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .name {
        font-size: 40px!important;
    }
    .ui.menu {
        font-size: 10px;
    }
}